.container {
  background-color: #e3ecf1;
}
.sidebar {
  background-color: #e3ecf1;
  border-left: 4px solid #202020;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.4s ease;
  color: #202020;
  z-index: 99;
}

.content {
  padding: 40px 40px 0 20px;
  position: relative;
  width: 100%;
}
.icon {
  margin: 0;
  color: #202020;
}
